<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>Recent News</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    <h1>New Here?</h1>
    <p>Check out our <a href="{{ site.baseurl }}/resources.html">resources page</a> for an overview of our repositories and guides.</p> 
	<p>You may also be interested in our curated collection of external <a href="{{ site.baseurl }}/links.html">links</a> to tips/walkthroughs/online-courses.</p>
</div>
